<app-header (click)="cerrarModal()" centerTitle backButton="/client" [title]="title"></app-header>

<ion-content class="ion-padding">

  <ion-row class="ion-justify-content-center">
    <ion-item>
      <ion-list-header class="ion-text-center">
        <ion-label>{{subTitle}}</ion-label>
      </ion-list-header>
    </ion-item>
  </ion-row>

  <form #formulario="ngForm">

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Nombres :</ion-label>
          <ion-input type="text" [readonly]="isReadOnly" autocomplete="name" name="name" placeholder="Martina" [(ngModel)]="usuario.name"
            required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Apellidos :</ion-label>
          <ion-input type="text" [readonly]="isReadOnly" autocomplete="additional-name" name="lastName" placeholder="Araus"
            [(ngModel)]="usuario.lastName" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label position="floating">Dirección :</ion-label>
      <ion-input type="text" [readonly]="isReadOnly" autocomplete="street-addres" name="address" placeholder="Km 1 1/2 Managua"
        [(ngModel)]="usuario.address" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cédula :</ion-label>
      <ion-input type="text" [readonly]="isReadOnly" name="dni" placeholder="000-0000-0000X" [(ngModel)]="usuario.dni"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email :</ion-label>
      <ion-input [readonly]="isReadOnly" type="email" autocomplete="email" name="email" placeholder="Email" [(ngModel)]="usuario.email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" required></ion-input>
    </ion-item>

    <ion-item *ngIf="showButtonView">
      <ion-label slot="end">{{usuario.dateCreate}}</ion-label>
    </ion-item>

    <ion-button (click)="cerrarModal()" *ngIf="showButtonView" expand="block">
      cerrarModal
    </ion-button>

    <ion-button type="submit" *ngIf="showButton" [disabled]="formulario.invalid" (click)="addData(formulario)"
      expand="block">
      Guardar
    </ion-button>

    <ion-button type="submit" *ngIf="showButtonUpdate" [disabled]="formulario.invalid" (click)="updateData(usuario,formulario)"
      expand="block">
      Actualizar
    </ion-button>

    <!-- <ion-row *ngIf="showButtonDelete">
      <ion-col size="12" style="display: flex; align-items: center; justify-content: center">
        <div>
          <ion-buttons slot="end">
            <ion-button (click)="presentPopover(formulario)">
              <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row> -->

  </form>

</ion-content>
